.circleA {                                
    width: 150px;                              
    height: 150px;                            
    background: #fff;                           
    border-radius: 100px;                     
  }    