.vertical-menu {
    width: 200px; /* Set a width if you like */
    margin: 0;
  }
  
  .vertical-menu a {
    background-color: #F6F6F6; /* Grey background color */
    color: #212121; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: #CECECE; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: #F6F6F6; /* Add a green color to the "active/current" link */
    color: black;
  }

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0px rgba(0,0,0,0); 
     box-shadow: 0 2px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0px rgba(0,0,0,0);
}

#menu{
  padding: 0px;
}

.content{
  padding-bottom: 700px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 600px;
}


.cell_content{
  text-align: center;
  border: 1px solid #444444;
  width: 200px;
  margin-right: 10px;
}